/* Variables */
:root {
  --basic-white:#FFF;
  --basic-black:#000;
  --basic-red:#EE3643;
  --basic-red-dark:#BA2732;
  --basic-green:#63A63E;
  --basic-green-light:#5FBB2D;
  --basic-green-dark:#518534;
  --basic-gray-dark:#293449;
  --basic-gray:#3D546F;
  --basic-gray-light:#C5C5C5;
  --basic-background:#F1F5F7;

  --special-blue:#32425C;
  --special-light-blue:#3BBCE3;
  --special-yellow:#FFBF47;
  --special-red:#CA2C37;
  --special-gray:#A9A9A9;
  --special-dark:#1D2739;

  --special-stroke:#EAEAEA;

  --special-promo-green-light:#8ED78F;
  --special-promo-pink:#DC91D8;
}

/*Grid */
.page {
  max-width: 100%;
  height: auto;
}

/* Global */
.page-body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-site-menu,
.cart-menu,
.header-contact-list,
.catalog-list,
.catalog-list-2,
.brand,
.footer-site-menu,
.footer-promo-menu,
.btn-social,
.filter-brand,
.filter-power,
.page-variant,
.sort-list,
.sort-pg {
  list-style: none;
}

.btn-buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: var(--basic-green-light);
}

.btn-buy:active {
  background-color: var(--basic-green-dark);
}

.btn-bookmark {
  color: var(--special-blue);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  margin: 0;
  padding: 12px 0;
}

.btn-bookmark:hover,
.btn-bookmark:focus {
  color: var(--special-blue);
  background-color: var(--basic-white);
  border: 3px solid var(--special-blue);
}

.btn-bookmark:active {
  opacity: 0.5;
}

/* Glaobal Fonts PT Sans */
.catalog-list,
.catalog-list-2,
.info-slider,
.breadcrumps,
.sort-crit,
.sort-title,
.title-filter,
.page-list,
.filter-button {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
}


/* Global style-site */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header,
.pop-products,
.pop-brands,
.section-services,
.catalog-description,
.container-filter {
  background-color: var(--basic-background);
}

.main-header,
.main-footer {
  background-color: var(--basic-gray-dark);
}
.cart-menu {
  margin: 0;
}

.cart-menu ul {
  padding: 0;
  margin: 0;
}

.cart-menu a,
.header-site-menu a,
.promo-table a,
.footer-site-menu a {
  color: var(--basic-white);
}

.cart-menu a:active,
.header-site-menu a:active,
.promo-table a:active,
.footer-site-menu a:active,
.footer-promo-menu a:active {
  opacity: 0.5;
}

.main-navigation,
.main-footer {
  background-color: var(--special-blue);
  color: var(--basic-white);
}

/* Global section-style */
.section-products {
  margin-top: 59px;
  margin-bottom: 70px;
}

.section-brands {
  margin-top: 70px;
  margin-bottom: 70px;
}

/*Buttons */
.button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color:var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--special-red);
}

.button:active {
  background-color: var(--basic-red-dark);
}

/* Main navigation */

.logo-header {
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  box-shadow: 0 5px 0 var(--basic-red-dark);
}

.header-cart {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  line-height: 18px;
}

.search-placeholder::placeholder {
  color: var(--basic-white);
  background-color: var(--basic-gray-dark);
}

.btn-cart-current {
 width: 136px;
}

.btn-confirm {
  background-color: var(--basic-green);
  width: 150px;
  text-align: center;
  padding: 12px 0;
}

.btn-confirm:hover,
.btn-confirm:focus {
  background-color: var(--basic-green-light);
}

.header-top {
  display: grid;
  grid-template-columns: min-content auto;
}

.mid-header {
  padding-bottom: 65px;
  background-color: var(--basic-background);
}

.main-navigation {
  padding: 0;
  box-shadow: 0 5px 0 var(--basic-gray-dark);
}

.header-contact-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  margin-left: 23px;
  padding: 0;
  padding-top: 41px;
  padding-bottom: 45px;
}

.info-text {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0;
}

.tel {
  width: 270px;
  height: 45px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.street {
  font-size: 14px;
  color: var(--basic-gray-dark);
}

.login {
  justify-self: end;
}

.cabinet {
  justify-self: end;
}

.btn-login,
.btn-register {
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-align: center;
}

.menu-cabinet {
  background-color: var(--basic-white);
  width: 299px;
  text-align: center;
}

.btns-cabinet {
  text-align: center;
}


.btn-order,
.btn-cab {
  color: var(--basic-black);
}

.btn-login:hover,
.btn-login:focus,
.btn-register:hover,
.btn-register:focus,
.btn-order:hover,
.btn-order:focus,
.btn-cab:hover,
.btn-cab:focus {
  color: var(--basic-red);
}

.btn-login:active,
.btn-register:active,
.btn-cab:active,
.btn-cab:active {
  color: var(--basic-gray-light);
}

.btn-login {
  width: 121px;
}

.btn-register {
  width: 150px;
}

.header-site-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 25px;
  font-size: 18px;
  line-height: 24px;
  height: 55px;
}

.header-site-menu a {
  display: block;
  padding: 16px 28px;
}


.header-site-menu li:hover,
.header-site-menu li:focus {
  background-color: var(--basic-gray-dark);
}

.header-site-menu li:active {
  background-color: var(--special-dark);
}

.cart-menu li,
.header-site-menu li {
  display: inline;
}


/* Section */


.title-text {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-gray-dark);
}

/* Section-PROMO */
.promo-table {
  margin-top: 59px;
  margin-bottom: 59px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.promo-material,
.promo-delivery,
.promo-tool,
.promo-technics,
.promo-discount,
.promo-delivery {
  width: 300px;
  height: 123px;
  color: var(--basic-white);
}

.promo-material p,
.promo-delivery p,
.promo-tool p,
.promo-technics p,
.promo-discount p,
.promo-delivery p {
  margin-left: 23px;
  margin-top: 20px;
  margin-bottom: 14px;
}

.promo-material {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--special-yellow);
}

.promo-tool {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--special-light-blue);
}

.promo-technics {
  grid-column: 3;
  grid-row: 1;
  background-color: var(--special-promo-pink)
}

.promo-slide {
  grid-column: 1/3;
  grid-row: 2/4;
  background-color: var(--special-stroke);
  color: var(--basic-white);
  width: 620px;
  height: 266px;
}

.promo-slide p {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slide span {
  font-size: 18px;
  line-height: 24px;
}


.promo-discount {
  grid-column: 3;
  grid-row: 2;
  background-color: var(--special-promo-green-light);
}

.promo-delivery {
  grid-column: 3;
  grid-row: 3;
  background-color: var(--special-yellow);
}

.btn-promo {
  margin-left: 23px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.btn-promo:hover,
.btn-promo:focus {
  background-color: var(--basic-gray-light);
}

.btn-promo:active {
  background-color: var(--special-gray);
}

.btn-section {
  width: 253px;
  height: 38px;
  margin: auto;
  margin-right: 19px;

}

.catalog-list {
  margin: 20px 0px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
}

.catalog-list-2 {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
}

.item-style {
  border: 1px solid var(--special-stroke);
  width: 218px;
}


/* section-catalog  */

.breadcrumps,
.sort-form,
.sort-crit {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumps a {
  color: var(--basic-black);
}

.section-sort {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}


.sort-form {

}

.sort-title {
  font-size: 13px;
  line-height: 24px;
  background-color: var(--basic-background);
}

.sort-crit {
  margin-top: 20px;
  display: grid;
  grid-template-columns:min-content auto max-content;
  background-color: var(--basic-background);
}

.sort-list li {
  display: inline;
}

.sort-list,
.filter-brand,
.filter-power {
  margin: 0;
  padding: 0;
}

.sort-list label {
	opacity: 0.3;
	border-bottom: 1px dotted var(--basic-red);
}

.sort-list label:hover,
.sort-list label:focus {
  color: var(--basic-black);
	border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.sort-check:checked + label {
  color: var(--basic-red);
  opacity: 1;
  border-bottom: 0px;
}

.filter-brand,
.filter-power {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-gray-light);
}

.filter-button:hover,
.filter-button:focus {
  border: 1px solid var(--basic-gray-light);
}

.filter-button:active {
  border: 1px solid var(--basic-red);
}

.product-name {
  font-size: 18px;
  line-height: 20px;
}

.price-old,
.price {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.price-old {
  text-decoration: line-through;
  color:var(--special-gray);
}

.price {
  color: var(--basic-white);
  background-color: var(--basic-red);
  width: 141px;
}

.page-list {
  padding: 0;
}

.page-list li {
  display: inline;
}


.page-current {
  font-size: 13px;
  align-content: center;
  background-color: var(--basic-red);
}

.page-variant a {
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #E5E5E5;
  color: var(--basic-black);
}

.page-variant a:hover,
.page-variant a:focus {
  border: 1px solid var(--basic-gray-light);
}

.page-variant a:active {
  border: 1px solid var(--basic-red);
}

.page-current a {
  color: var(--basic-white);
  border:none;
}

.page-current a:hover,
.page-current a:focus {
  border:none;
}

.page-next a {

}


/* filter-catalog */

.title-filter {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
/* section-brands */

.pop-brands,
.pop-products {
  height: 89px;
  padding-left: 28px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.list-brands {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

/* section-service */
.section-services {

}

.slider-services {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.slider-control {
}

.delivery h3 {
  margin: 0;
  margin-bottom: 30px;
  color: var(--special-blue);
}

.info-slider {
  font-size: 13px;
  margin-bottom: 0;
}

.btn-service {
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--special-blue);
}

.btn-service:hover,
.btn-service:focus {
  background-color: var(--basic-gray-dark)
}

.btn-service:active {
  color: var(--special-blue);
  background-color: var(--basic-white);
}

.brand {
  width: 220px;
  height: 145px;
  background-color: var(--basic-white);
}

.brand:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

}

.brand:active {
  opacity: 0.5;
}


.delivery,
.garant,
.credit {
  color: var(--special-blue);
}

.delivery {
}
.garant {
}
.credit {
}

.btn-credit {
}
/* Section about-company */

.company {
  padding-top: 64px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company {
  margin-top: 70px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.contrahens {
  font-size: 18px;
}

.about-left,
.about-right {
  font-size: 13px;
}

.map {
}

.btn-contact {
}


.catalog-description {
  margin: 0;
  padding: 0;
}
/* Footer */


.logo-footer {
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
}

.footer-top,
.footer-mid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.footer-bot {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
}

.footer-bot-backround {
  background-color: var(--basic-gray-dark);
}


.btn-social {
  padding: 0;
  justify-self: center;
}

.btn-social li,
.footer-site-menu li,
.footer-promo-menu li {
  display: inline-block;
}

.footer-site-menu {
  margin-top: 37px;
}

.copyright-htmlacademy {
  justify-self: end;
}


.footer-promo-menu a,
.mail-htmlacademy a,
.copyright-htmlacademy a {
  color: var(--special-yellow);
}

.footer-top a:hover,
.footer-top a:focus,
.footer-promo-menu a:hover,
.footer-promo-menu a:focus,
.copyright-htmlacademy a:hover,
.copyright-htmlacademy a:hover {
  text-decoration: underline;
}

.mail-htmlacademy a:active,
.copyright-htmlacademy a:active {
  color: var(--basic-red);
}

.tel-footer {
  color :var(--basic-white);
}


/* catalog */

.brand:active {
  opacity: 0.5;
}


