/* Variables */
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --basic-white:#FFF;
  --basic-black:#000;
  --basic-red:#EE3643;
  --basic-red-dark:#BA2732;
  --basic-green:#63A63E;
  --basic-green-light:#5FBB2D;
  --basic-green-dark:#518534;
  --basic-gray-dark:#293449;
  --basic-gray:#3D546F;
  --basic-gray-light:#C5C5C5;
  --basic-background:#F1F5F7;

  --special-blue:#32425C;
  --special-yellow:#FFD180;
  --special-red:#CA2C37;
  --special-gray:#A9A9A9;
  --special-dark:#1D2739;

  --special-stroke:#EAEAEA;

  --promo-yellow:#FFBF47;
  --promo-light-blue:#3BBCE3;
  --promo-light-green:#8ED78F;
  --promo-pink:#DC91D8;

}

/*Grid */
.page {
  max-width: 100%;
  height: auto;
}

/* Global */
.page-body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-site-menu,
.cart-menu,
.header-contact-list,
.catalog-list,
.catalog-list-2,
.brand,
.footer-site-menu,
.footer-promo-menu,
.socials,
.filter-brand,
.filter-power,
.page-variant,
.sort-list,
.sort-pg {
  list-style: none;
}

.btn-buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: var(--basic-green-light);
}

.btn-buy:active {
  background-color: var(--basic-green-dark);
}

.btn-in-bookmark {
  color: var(--special-blue);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  margin: 0;
  padding: 12px 0;
  width: 150px;
  text-align: center;
}

.btn-in-bookmark:hover,
.btn-bookmark:focus {
  color: var(--special-blue);
  background-color: var(--basic-white);
  border: 3px solid var(--special-blue);
}

.btn-bookmark:active {
  opacity: 0.5;
}

/* Glaobal Fonts PT Sans */
.catalog-list,
.catalog-list-2,
.info-slider,
.breadcrumps,
.sort-crit,
.sort-title,
.title-filter,
.page-list,
.filter-button {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
}


/* Global style-site */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header,
.pop-products,
.pop-brands,
.section-services,
.catalog-description,
.container-filter {
  background-color: var(--basic-background);
}

.main-header,
.main-footer {
  background-color: var(--basic-gray-dark);
}

.cart-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  flex-grow: 0;
  justify-content: flex-end;
}

.cart-menu li {
}

.cart-menu a,
.header-site-menu a,
.promo-table a,
.footer-site-menu a {
  color: var(--basic-white);
}

.cart-menu a:active,
.header-site-menu a:active,
.promo-table a:active,
.footer-site-menu a:active,
.footer-promo-menu a:active {
  opacity: 0.5;
}

.main-navigation,
.main-footer {
  background-color: var(--special-blue);
  color: var(--basic-white);
}

/* Global section-style */
.section-products {
  margin-top: 59px;
  margin-bottom: 70px;
}

.section-brands {
  margin-top: 70px;
  margin-bottom: 70px;
}

/*Buttons */
.button {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color:var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--special-red);
}

.button:active {
  background-color: var(--basic-red-dark);
}

/* Main navigation */

.logo-header {
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  box-shadow: 0 5px 0 var(--basic-red-dark);
}

.logo-header-img {
  padding: 12px 56px;
}

.header-cart {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
}

.search-placeholder {
  flex-grow: 1;
  color: var(--basic-white);
  background-color: var(--basic-gray-dark);
  width: 100%;
  height: 42px;
  border: 0;
  padding: 0;
  padding-left: 50px;
}

.search-placeholder::placeholder {

}

.button-menu {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 8px;
  color:var(--basic-white);
  vertical-align: middle;
  text-align: center;
  border: none;
}

.button-menu .btn-bookmarks {
  padding: 11px 39px 10px 34px;
}

.button-menu .btn-cart-null {
  padding: 11px 28px 10px 34px;
}

.button-menu .btn-cart-current {
  padding: 11px 22px 10px 35px
}

.button-menu .btn-confirm {
  background-color: var(--basic-green);
  padding: 11px 17px 10px 18px;
}

.btn-confirm:hover,
.btn-confirm:focus {
  background-color: var(--basic-green-light);
}

.header-top {
  display: grid;
  grid-template-columns: min-content auto;
}

.mid-header {
  min-height: 278px;
  background-color: var(--basic-background);
}


.main-navigation {
  padding: 0;
  box-shadow: 0 5px 0 var(--basic-gray-dark);
}

.header-contact-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 0;
  padding-top: 43px;
  padding-bottom: 37px;
}

.info-text h1 {
  text-align: left;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  color: var(--basic-red);
}

.contact {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 271px;
  width: 100%;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 3px;
  padding-left: 6px;
}


.tel {
  display: flex;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  padding-top: 4px;
  padding-left: 72px;
  padding-right: 42px;
  padding-bottom: 5px;
}

.tel::before {
	content: "";
	position: absolute;
	width: 19px;
	height: 19px;
  left: 46px;
  top: 16px;
	background-image: url(../img/icons/icon-phone.svg);
}

.street {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-gray-dark);
  padding: 3px 10.5px;
}

.login {
  margin-top: 15px;
  justify-self: end;
  font-size: 21px;
  line-height: 21px;
}

.profile-panel {
  width: 299px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cabinet {
  justify-self: end;
}

.btn-login,
.btn-register {
  margin-left: 5px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-align: center;
}

.btn-register {
  padding: 10px 24px;
  padding-bottom: 11px;
}

.btn-login {
  padding-top: 10px;
  padding-left: 45px;
  padding-right: 27px;
  padding-bottom: 11px;
}

.menu-cabinet {
  background-color: var(--basic-white);
  width: 299px;
  text-align: center;
}

.btns-cabinet {
  text-align: center;
}


.btn-order,
.btn-cab {
  color: var(--basic-black);
}

.btn-login:hover,
.btn-login:focus,
.btn-register:hover,
.btn-register:focus,
.btn-order:hover,
.btn-order:focus,
.btn-cab:hover,
.btn-cab:focus {
  color: var(--basic-red);
}

.btn-login:active,
.btn-register:active,
.btn-cab:active,
.btn-cab:active {
  color: var(--basic-gray-light);
}

.btn-login {
  width: 121px;
}

.btn-register {
  width: 150px;
}

.header-site-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 25px;
  font-size: 18px;
  line-height: 24px;
  height: 55px;
}

.header-site-menu a {
  display: flex;
  padding: 17px 28px;
}


.header-site-menu li:hover,
.header-site-menu li:focus {
  background-color: var(--basic-gray-dark);
}

.header-site-menu li:active {
  background-color: var(--special-dark);
}

/* Section */


.title-text {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-gray-dark);
}

/* Section-PROMO */
.promo-table {
  margin-top: 59px;
  margin-bottom: 59px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.promo-material,
.promo-delivery,
.promo-tool,
.promo-technics,
.promo-discount,
.promo-delivery {
  width: 300px;
  height: 123px;
  color: var(--basic-white);
}

.promo-material p,
.promo-delivery p,
.promo-tool p,
.promo-technics p,
.promo-discount p,
.promo-delivery p {
  margin-left: 22px;
  margin-top: 21px;
  margin-bottom: 14px;
}

.promo-material {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--promo-yellow);
  background-image: url(../img/icons/icon-materials.svg);
  background-position: top 31px right 43px;
  background-repeat: no-repeat;
}

.promo-tool {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--promo-light-blue);
  background-image: url(../img/icons/icon-tools.svg);
  background-repeat: no-repeat;
  background-position: top 34px right 31px;
}

.promo-technics {
  grid-column: 3;
  grid-row: 1;
  background-color: var(--promo-pink);
  background-image: url(../img/icons/icon-technics.svg);
  background-repeat: no-repeat;
  background-position: top 31px right 31px;
}

.promo-slide {
  grid-column: 1/3;
  grid-row: 2/4;
  background-color: var(--special-stroke);
  color: var(--basic-white);
  width: 620px;
  height: 266px;
}

.promo-slide p {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slide span {
  font-size: 18px;
  line-height: 24px;
}


.promo-discount {
  grid-column: 3;
  grid-row: 2;
  background-color: var(--promo-light-green);
  background-image: url(../img/icons/icon-discount.svg);
  background-repeat: no-repeat;
  background-position: top 26px right 45px;
}

.promo-delivery {
  grid-column: 3;
  grid-row: 3;
  background-color: var(--promo-yellow);
  background-image: url(../img/icons/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: top 32px right 32px;
}

.btn-promo {
  margin-left: 23px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.btn-promo:hover,
.btn-promo:focus {
  background-color: var(--basic-gray-light);
}

.btn-promo:active {
  background-color: var(--special-gray);
}

.btn-section {
  width: 192px;
  margin: 25px 14px 26px;
  text-align: center;
}

.catalog-list {
  margin: 20px 0px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 700;
}

.catalog-list-grid {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
}

.item-style {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--special-stroke);
  width: 218px;
  min-height: 316px;
}

.item-image {
  margin: 0px;
  width: 100%;
  min-height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.item-name {
  order: 1;
  display: block;
  position: relative;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 5px 15px;
}

.price {
  order: 1;
  margin: 0px;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.price-old {
  margin: 0;
  margin-bottom: 14px;
  text-decoration: line-through;
  color:var(--special-gray);
}

.price-new {
  margin: 0;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
  background-image: linear-gradient(45deg, transparent 90%, var(--basic-white) 10%), linear-gradient(135deg, transparent 90%, var(--basic-white) 10%);
  background-repeat: no-repeat;
  text-align: center;
  width: 142px;
  margin-bottom: 20px;
  padding: 10px 0px;
}



.btn-in-bookmark-buy {
  width: 100%;

  visibility: hidden;
  position: absolute;
}



/* section-catalog  */

.breadcrumps,
.sort-form,
.sort-crit
.sort-crit h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumps li {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 7px;
}

.breadcrumps a {
  color: var(--basic-black);
}

.section-sort {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.sort-title {
  text-transform: uppercase;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}

.sort-crit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 0px;
  background-color: var(--basic-background);
}

.sort-list li {
  display: inline;
  font-size: 13px;
}

.sort-list,
.filter-brand,
.filter-power {
  margin: 0;
  padding: 0;
}

.sort-list label {
	opacity: 0.3;
	border-bottom: 1px dotted var(--basic-red);
}

.sort-list label:hover,
.sort-list label:focus {
  color: var(--basic-black);
	border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.sort-check:checked + label {
  color: var(--basic-red);
  opacity: 1;
  border-bottom: 0px;
}

.filter-brand,
.filter-power {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-gray-light);
}

.filter-button:hover,
.filter-button:focus {
  border: 1px solid var(--basic-gray-light);
}

.filter-button:active {
  border: 1px solid var(--basic-red);
}



.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item a {
  display: block;
  padding: 10px 15px;
  border: 1px solid var(--basic-red);
}

.pagination-item a:active {
  background-color: var(--basic-red);
  border: none;
}


.page-current {
  font-size: 13px;
  align-content: center;
}

.page-variant a {
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #E5E5E5;
  color: var(--basic-black);
}

.page-variant a:hover,
.page-variant a:focus {
  border: 1px solid var(--basic-gray-light);
}

.page-variant a:active {
  border: 1px solid var(--basic-red);
}

.page-current a {
  color: var(--basic-white);
  border:none;
}

.page-current a:hover,
.page-current a:focus {
  border:none;
}

.page-next a {

}


/* filter-catalog */

.title-filter {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
/* section-brands */

.pop-brands,
.pop-products {
  height: 89px;
  padding-left: 29px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.list-brands {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

/* section-service */
.section-services {

}

.slider-services {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 285px;
}

.slider-control {
}

.delivery h3 {
  margin: 0;
  margin-bottom: 30px;
  color: var(--special-blue);
}

.info-slider {
  font-size: 13px;
  margin-bottom: 0;
}

.btn-service {
  font-size: 21px;
  line-height: 30px;
  width: 240px;
  height: 61px;
  border: none;
  color: var(--basic-white);
  background-color: var(--special-blue);
}

.btn-service:hover,
.btn-service:focus {
  background-color: var(--basic-gray-dark);
  border: none;
  outline: none;
}

.btn-service:active {
  color: var(--special-blue);
  background-color: var(--basic-white);
  border: none;
  outline: none;
}

.brand {
  width: 218px;
  min-height: 143px;
  background-color: var(--basic-white);
  border: 1px solid var(--special-stroke);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.brand:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

}

.brand:active {
  opacity: 0.5;
}


.delivery,
.garant,
.credit {
  color: var(--special-blue);
}

.delivery {
}
.garant {
}
.credit {
}

.btn-credit {
}
/* Section about-company */

.company {
  padding-top: 64px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company {
  margin-top: 70px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.contrahens {
  font-size: 18px;
}

.about-left,
.about-right {
  font-size: 13px;
}

.about-right {
  padding-left: 12px;
}

.about-left h3,
.about-right h3{
  margin: 0px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-left p,
.about-right p {
  margin-top: 24px;
}

.map {
}

.btn-contact {
}


.catalog-description {
  margin: 0;
  padding: 0;
}
/* Footer */

.main-footer {
  font-size: 18px;
  font-weight: 400;
}

.logo-footer {
  flex-grow: 0;
  margin-right: 134px;
  width: 220px;
  height: 63px;
  background-color: var(--basic-red);
  box-shadow: 0 5px 0 var(--basic-red-dark);
}

.logo-footer img {
  padding: 20px 41px 25px;
}

.footer-top,
.footer-mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-site-menu {
  flex-grow: 1;
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.footer-mid {
  padding-left: 3px;
  margin-bottom: 54px;
}

.footer-adress {
  margin: 0;
  margin-top: 11px;
  margin-right: 52px;
  flex-grow: 0;
}

.footer-promo-menu {
  margin: 0;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.footer-bot {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 9px;
  padding-top: 15px;
}

.footer-bot-backround {
  background-color: var(--basic-gray-dark);
}


.socials {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
}

.footer-site-menu li,
.footer-promo-menu li {
  display: inline-block;
}



.footer-site-menu a {

}

.copyright-htmlacademy {
  justify-self: end;
}


.footer-promo-menu a,
.mail-htmlacademy a,
.copyright-htmlacademy a {
  color: var(--special-yellow);
}

.footer-top a:hover,
.footer-top a:focus,
.footer-promo-menu a:hover,
.footer-promo-menu a:focus,
.copyright-htmlacademy a:hover,
.copyright-htmlacademy a:hover {
  text-decoration: underline;
}

.mail-htmlacademy a:active,
.copyright-htmlacademy a:active {
  color: var(--basic-red);
}

.tel-footer {
  color :var(--basic-white);
}


/* catalog */

.brand:active {
  opacity: 0.5;
}


.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: var (var(--basic-white))
}
